
.login_bg::before {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: url('./assets/secure_cart_logo.png') center/cover no-repeat;
  background-size: 150%;
  filter: blur(20px) brightness(0.9);
  z-index: 1;
}

.login_section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 15px;
}


.logo_img {
  width: 80px;
  height: 80px;
  padding: 5px;
  object-fit: contain;
  border-radius: 10px;
  background: white;
  box-shadow: 0 4px 15px black;
}


.secure_cart {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background: green;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.welcome_text {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
}

.login_instruction {
  color: #666;
  margin-bottom: 30px;
  font-size: 14px;
  text-align: center;
}

.login_form {
  text-align: left;
}

.form_group {
  margin-bottom: 20px;
}

.form_group label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

.form_group input {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s;
  box-sizing: border-box;
  background: white;
}

.form_group input:focus {
  outline: none;
  border-color: #4ecdc4;
  background: white;
}


.login_button {
  width: 100%;
  padding: 12px;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
  margin-top: 10px;
}


.login_button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px black;
}


.forgot_password {
  margin-top: 20px;
  color:green;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}


.error_message {
  background: #ff6b6b;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}

.login_bg {
  min-height: 100vh;
  background: 
    url('./assets/secure_cart_logo.png') center no-repeat;
  background-size: 150%; 
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  position: relative;
}


.login_container {
  background:white; 
  padding: 40px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 15px 35px black;
  width: 400px;
  position: relative;
  z-index: 2; 
  backdrop-filter: blur(10px); 
  border: 1px solid black;
}


.brand_name {
  text-align: left;
}
